* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.kickContainer, .snareContainer, .clapContainer {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    width: 80%
}

.beatsContainer {
    display: flex;
    align-items: center;
}

.beat {
    width: 5rem;
    height: 5rem;
    border-radius: 30px;
    margin-right: 20px;
    cursor: pointer;
}

.kick-beat {
    background: rgb(219, 139, 139);
    transition: all .5s ease
}

.snare-beat {
    background: rgb(103, 103, 201);
    transition: all .5s ease
}

.clap-beat {
    background: rgb(180, 201, 103);
    transition: all .5s ease
}

.kick-beat.active {
    background: rgb(150, 39, 39);
}

.snare-beat.active {
    background: rgb(41, 41, 114)
}

.clap-beat.active {
    background: rgb(123, 146, 41)
}

.controls {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    margin-right: 2rem
}

.mute {
    background: rgb(141, 141, 141);
    border: none;
    padding: 1.5rem;
    cursor: pointer;
    transition: all .5s ease;
}

.mute.active {
    background: rgb(88, 88, 88);
}

#kickTypes, #snareTypes, #clapTypes {
    padding: 1rem;
    cursor: pointer;
}

.playContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    width: 80%;
    flex: 1
}

.playContainer button {
    border: none;
    border-radius: 30px;
    font-size: 1.2rem;
    padding: 1rem 4rem;
    background: rgb(141, 141, 141);
    cursor: pointer;
    margin-bottom: 1rem
}

.playContainer input[type='range'] {
    -webkit-appearance: none;
    background-color: rgb(141, 141, 141);
    border-radius: 30px;
    padding: 0.2rem 0;
    width: 100%;
    color: black;
    cursor: pointer;
    margin: 0 1rem
}

.playContainer p {
    margin-top: .7rem;
    font-size: 1.2rem
}

.tempoControls {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%
}

.tempoControls button {
    padding: .5rem .8rem;
    border-radius: 0px;
    margin: 0
}

@keyframes beatDrop {
    from {transform: scale(1);}
    to{transform: scale(1.2);}
}

@keyframes clickedBtn {
    from {transform: scale(1);}
    to {transform: scale(0.9)}
}